body {
    background-color: #7ab4cc;
    padding: 50px 0;
    font-family: sans-serif;
}

.conteiner {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

.outer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;

}

.user {
    padding: 0 30px;
    flex-basis: 25%;
    overflow: hidden;
}

.user:nth-child(n+5){
    margin-top: 40px;
}

.user__inner {
    border: 1px solid #000000;
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    background-color: #ebca61;
}

.user__inner-info {
    text-align: center;
    padding: 10px;
}


.user__inner img {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

.preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(97, 100, 97, 0.7);
    width: 1270px;
    height: 450px;
}

