body {
	height: auto;
	padding: 50px;
	font-family: sans-serif;
	background: #1e4542;
}

.b-shooter {
	background-image: url(../img/cemetery-cartoon-background.jpg);
	background-size: 100%;
	margin: 0 auto;
	width: 800px;
	height: 500px;
	position: relative;
}

.b-shooter__aim {
	top: 0;
	left: 0;
	position: absolute;
	width: 100px;
	height: 100px;
	pointer-events: none;
	transform: translate(200px,200px);
	transition: transform .2s ease-out;

}

.b-shooter__img-aim {
	width: 100%;
	height: 100%;
}